* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Montserrat';
}

body {
    background: #4E5356;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(78, 83, 86, 0.8);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(0,0,0, .1);
}

.menu-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    color: #FFD398;
}

header .navbar {
    display: flex;
    align-items: center;
}

header .navbar a {
    font-size: 24px;
    padding-right: 50px;
    color: #FFD398;
    position: relative;
}

header .navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffff;
    transition: width 0.3s;
}

header .navbar a:hover::after {
    width: 50%;
}

.menu-toggle:hover {
    background: none;
    color: #FFD398;
}

header .icons {
    display: flex;
    align-items: center;
}

header .icons a {
    font-size: 3rem;
    margin-left: 22px;
    width: 40px;
    height: 40px;
}

header .icons img {
    width: 40px;
    height: 40px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    text-align: right;
    background: url(skull-778073_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 200px;
    color: #D0AE80;
}

.content h1 {
    font-size: 120px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

.content span {
    font-size: 40px;
    margin: 0;
    padding-top: 10px;
    padding-right: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
   
}

.outer-rectangle {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-rectangle {
    background-color: #FFD398;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 570px;
    height: 750px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin-top: 30px;
}

.text-section {
    padding-top: 20px;
    color: #000000;
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
}

.separator1 {
    width: 50%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.separator {
    width: 50%;
    height: 2px;
    background-color: black;
    margin: 15px auto 0;
}

.text-section:last-child {
    margin-bottom: 0;
}

.right-rectangles {
    width: 570px;
    height: auto;
}

.rectangle-image {
    width: 570px;
    height: 750px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}



@media (max-width: 1450px) {
    .outer-rectangle {
        
        align-items: center;
    }
    .left-rectangle{
        width: 90%;
        height: auto;
    }
    .right-rectangles {
        width: 90%;
        height: auto;
        margin-left: 50px;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
    }
    .text-section {
        font-size: 12px;
    }
    
   
}

@media (max-width: 1200px) {
    header {
        padding: 2rem 5%;
    }
    .home {
        background-size: cover;
    }
    .content h1 {
        font-size: 90px;
    }
    .content span {
        font-size: 30px;
        padding-right: 150px;
    }
    .outer-rectangle {
        flex-direction: column;
        align-items: center;
    }
    .left-rectangle, .right-rectangles {
        width: 80%;
        height: auto;
    }
    .right-rectangles{
        margin-left: 0px;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .text-section {
        font-size: 13px;
    }
    h1 {
        font-size: 40px;
    }
    .container{
        margin-top: 400px;
    }
}

@media (max-width: 992px) {
    header .navbar a {
        font-size: 20px;
        padding-right: 20px;
    }
    .content {
        margin-top: 150px;
    }
    .content h1 {
        font-size: 70px;
    }
    .content span {
        font-size: 25px;
        padding-right: 100px;
    }
    .outer-rectangle {
        flex-direction: column;
        align-items: center;
    }
    .left-rectangle, .right-rectangles {
        width: 90%;
        height: auto;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
    }
    .text-section {
        font-size: 12px;
    }
    h1 {
        font-size: 38px;
    }
    .container{
        margin-top: 400px;
    }
}

@media (max-width: 840px) {
    header .icons img {
        width: 30px;
        height: 30px;
    }
    .container{
        margin-top: 350px;
    }
}

@media (max-width: 790px) {
    header .icons img {
        width: 20px;
        height: 20px;
    }
    .outer-rectangle {
        flex-direction: column;
        align-items: center;
    }
    .left-rectangle, .right-rectangles {
        width: 90%;
        height: auto;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
    }
    .container{
        margin-top: 350px;
    }
    
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }
    header .navbar {
        display: none;
        flex-direction: column;
        background: #4E5356;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        z-index: 1000;
    }
    header .navbar.active {
        display: flex;
    }
    header .navbar a {
        font-size: 18px;
        padding: 20px;
        text-align: center;
        width: 100%;
        color: #FFD398;
        border-bottom: 1px solid #FFD398;
    }
    header .navbar a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ffffff;
        transition: width 0.3s;
    }
    header .navbar a:hover::after {
        width: 100%;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        right: -20px;
    }
    header .icons {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .content {
        margin-top: 100px;
    }
    .content h1 {
        font-size: 60px;
    }
    .content span {
        font-size: 20px;
        padding-right: 100px;
    }
    .outer-rectangle {
        flex-direction: column;
        align-items: center;
    }
    .left-rectangle, .right-rectangles {
        width: 90%;
        height: auto;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
    }
    .container{
        margin-top: 350px;
    }
}

@media (max-width: 576px) {
    header {
        padding-top: 15px;
    }
    header .navbar a {
        font-size: 16px;
        padding: 10px;
    }
    header .icons a {
        font-size: 2rem;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        padding-top: 5px;
    }
    .menu-toggle {
        display: block;
        position: absolute;
        right: -30px;
        top: 2px;
    }
    .home {
        justify-content: center;
        text-align: center;
        padding-right: 0;
    }
    .content {
        margin-top: 200px;
    }
    .content h1 {
        font-size: 40px;
    }
    .content span {
        font-size: 18px;
    }
    .left-rectangle, .right-rectangles {
        width: 100%;
        height: auto;
    }
    .rectangle-image {
        width: 100%;
        height: auto;
    }
    .container{
        margin-top: 400px;
    }
   
    
}
@media (max-width: 425px){
   .right-rectangles{
    margin-left: 0px;
   }
}
